{% extends "base.html" %}

{% block content %}
<h1>Hi, {{ current_user.username }}. Subscribe!</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>{{ form.weekend_check() }} {{ form.weekend_check.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}